@font-face {
  font-family: 'Rokkitt';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdV35qfgYFjGy5hkEOYeNY-EoKzjE86NHiJGbo.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdV35qfgYFjGy5hkEOYeNY-EoKzjE86NPiIGbo.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdV35qfgYFjGy5hkEOYeNY-EoKzjE86NCaIGbo.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdV35qfgYFjGy5hkEOYeNY-EoKzjE86NHiIGbo.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdV35qfgYFjGy5hkEOYeNY-EoKzjE86NEqIGbo.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdV35qfgYFjGy5hkEOYeNY-EoKzjE86NKaPGbo.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdV35qfgYFjGy5hkEOYeNY-EoKzjE86NJ-PGbo.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdV35qfgYFjGy5hkEOYeNY-EoKzjE86NPiPGbo.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdV35qfgYFjGy5hkEOYeNY-EoKzjE86NNGPGbo.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdb35qfgYFjGy5hukqqhw5XeRgdi1rydpDL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdb35qfgYFjGy5hukqqhw5XeRgdi1pyd5DL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdb35qfgYFjGy5hukqqhw5XeRgdi1qsd5DL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdb35qfgYFjGy5hukqqhw5XeRgdi1ryd5DL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdb35qfgYFjGy5hukqqhw5XeRgdi1rAd5DL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdb35qfgYFjGy5hukqqhw5XeRgdi1oscJDL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdb35qfgYFjGy5hukqqhw5XeRgdi1oVcJDL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdb35qfgYFjGy5hukqqhw5XeRgdi1pycJDL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdb35qfgYFjGy5hukqqhw5XeRgdi1pbcJDL.ttf) format('truetype');
}
body {
  font-family: "Rokkitt", serif;
}
a {
  font-weight: 700;
  text-decoration: none;
  color: #272575;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rokkitt", serif;
}
.btn-custom {
  padding: 10px 40px;
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  font-family: "Rokkitt", serif;
}
.btn-custom:hover {
  filter: brightness(110%);
  transform: scale(1.05);
}
.btn-custom.btn-custom__primary {
  color: #fff;
  background-color: #272575;
  transition: all 0.4s ease-in-out;
}
.btn-custom.btn-custom__primary:hover {
  color: #fff;
  border-color: #272575;
}
.btn-custom.btn-custom__brand {
  color: #fff;
  background-color: #EA4CDA;
}
.btn-custom.btn-custom__brand:hover {
  color: #fff;
  background-color: #EA4CDA;
  border-color: #EA4CDA;
}
.btn-custom.btn-custom__primary-reverse {
  color: #272575;
  background-color: #fff;
}
.btn-custom.btn-custom__primary-reverse:hover {
  color: #fff;
  border-color: #fff;
}
.btn-custom-text {
  font-weight: 700;
  font-size: 16px;
  padding: 0;
}
.btn-custom-text:hover {
  border: 0;
  opacity: 0.8;
}
.btn-custom-text:active {
  border: 0;
}
.navbar-custom {
  background-color: transparent;
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
}
@media (max-width: 991px) {
  .navbar-custom {
    background-color: #272575;
  }
}
.navbar-custom .navbar-brand img {
  width: 280px;
}
@media (max-width: 1199px) {
  .navbar-custom .navbar-brand img {
    width: 194px;
  }
}
@media (max-width: 991px) {
  .navbar-custom .navbar-brand img {
    width: 244px;
  }
}
@media (max-width: 767px) {
  .navbar-custom .navbar-brand img {
    width: 184px;
  }
}
.navbar-custom .navbar-nav {
  margin-right: 12px;
  align-items: center;
}
@media (max-width: 991px) {
  .navbar-custom .navbar-nav {
    align-items: flex-end;
  }
}
.navbar-custom .navbar-nav .nav-item {
  justify-content: flex-end;
  display: flex;
}
.navbar-custom .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Rokkitt", serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
}
.navbar-custom .navbar-nav .nav-item .nav-link:hover {
  opacity: 0.8;
}
.navbar-custom .navbar-nav .nav-item .nav-link.active {
  color: #EA4CDA;
}
@media (min-width: 1400px) {
  .navbar-custom .navbar-nav .nav-item .nav-link {
    font-size: 14px;
  }
}
@media (max-width: 1199px) {
  .navbar-custom .navbar-nav .nav-item .nav-link {
    text-align: right;
    padding: 20px 8px;
  }
}
@media (max-width: 991px) {
  .navbar-custom .navbar-nav .nav-item .nav-link {
    padding: 24px 8px;
    padding-right: 0;
    font-size: 14px;
  }
}
.navbar-custom .navbar-toggler .navbar-toggler-icon {
  background-image: url(../img/icon-toggle.svg);
  border: 0;
}
.container-custom {
  padding-left: 80px;
  padding-right: 80px;
}
@media (max-width: 991px) {
  .container-custom {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 767px) {
  .container-custom {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.container-fluid-custom {
  padding: 0;
}
section.section {
  padding: 80px 0;
}
@media (max-width: 991px) {
  section.section {
    padding: 40px 0;
  }
}
@media (max-width: 767px) {
  section.section {
    padding: 32px 0;
  }
}
section .section-title {
  margin-bottom: 32px;
}
section .section-title .overline {
  font-weight: 300;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.03em;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  section .section-title .overline {
    font-size: 20px;
    line-height: 24px;
  }
}
section .section-title .title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  section .section-title .title {
    font-size: 24px;
    line-height: 28px;
  }
}
section.section-dark {
  background-color: #272575;
}
section.section-dark p {
  color: white;
}
section.section-dark .section-title .overline {
  color: white;
}
section.section-dark .section-title .title {
  color: white;
}
.hero-section {
  background-image: url(../img/img-hero-hp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  width: 100%;
  height: 90vh;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url('../img/img-hero-hp@2x.jpg');
  }
}
.hero-section::after {
  content: "";
  background: linear-gradient(79deg, #272575 -0.55%, rgba(39, 37, 117, 0.37) 46.86%, rgba(234, 76, 218, 0) 55.5%, rgba(39, 37, 117, 0) 100%);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.hero-section::before {
  content: "";
  background: url(../img/figure-hero-line.svg) no-repeat center bottom;
  background-size: cover;
  width: 100%;
  height: 132px;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: -1;
}
@media (min-width: 1921px) {
  .hero-section::before {
    height: 270px;
  }
}
.hero-section .hero-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 40%;
  line-height: 1;
}
.hero-section .hero-content h1 {
  font-size: 34px;
  font-weight: 600;
}
.hero-section .hero-content p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}
.highlighted-title {
  position: relative;
  display: inline-block;
}
.highlighted-title::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 7px;
  left: 0;
  right: 0;
  bottom: 18px;
}
.highlighted-title.highlighted-title__white {
  color: white;
}
.highlighted-title.highlighted-title__white::before {
  background-color: rgba(210, 204, 250, 0.55);
}
